.header {
  padding: 12px;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 14px;
  color: white;
  background-color: #24292e;
}
.main {
  max-width: 1600px;
  margin: auto;
}
.header ul {
  list-style: none;
  display: flex;
  padding: 0;
}
.mobileHeader {
  padding: 12px 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 14px;
  color: white;
  background-color: #24292e;
  display: block;
  transition: all 2s linear;
}
.mobileHeader nav {
  margin: 20px 0;
}
.mobileHeader ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.mobileHeader li {
  padding: 10px 0;
  border-top: solid var(--borderKini) 1px;
}
.deskNav {
  align-self: stretch;
  width: 100%;
}
.deskNav input {
  min-height: 28px;
  display: table-cell;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  font-size: inherit;
  background: none;
  border: 0;
  box-shadow: none;
}
.search-wrapper {
  width: 100%;
  max-width: 100%;
  font-size: inherit;
  font-weight: 400;
  color: grey;
  vertical-align: middle;
  background-color: #24292e;
  border: 1px solid #444d56;
  box-shadow: none;
}
.headSearch {
  margin-right: 40px;
}
.navLink {
  margin-right: 16px;
  font-weight: 600;
}
.navIte {
  margin-left: 16px;
}
.imageMenu {
  cursor: pointer;
}
.imageMenu img {
  border-radius: 50% !important;
}
.mobileTrigger {
  display: none;
}
.mobileLogo {
  display: none;
}
.main {
  /* padding: 0 10%; */
}
.playground {
  background-color: #24292e;
}
@media (max-width: 900px) {
  .heading {
    justify-content: space-between;
  }
  .mobileTrigger {
    display: block;
    margin-right: 16px;
  }
  .noMobile {
    display: none;
  }
  .mobileLogo {
    display: block;
  }
}
